:root {
  --primary-font-famili: 'Roboto', sans-serif;
  --secondary-font-famili: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-family: var(--primary-font-famili);
  font-size: 14px;
  font-style: normal;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.top-bottom {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*hover,focus*/
.tel:focus,
.tel:hover,
.mail:focus,
.mail:hover,
.nav-info:focus,
.nav-info:hover {
  color: var(--accent-color);
}
.list {
  list-style-type: none;
}
.header {
  height: 80px;
}
.header div {
  display: flex;
  align-items: center;
}
.header ul {
  display: flex;
}
.nav-list {
  display: inline-block;
  padding-top: 31px;
  padding-bottom: 31px;
}
.nav-list:not(:last-child) {
  margin-right: 50px;
}
.title-section {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-text-color);
}
/* WebStudio */
.studio {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 94px;
  font-family: var(--secondary-font-famili);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.web {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
/* Menu Nav */
.nav {
  margin-right: 305px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* E-mail */
.mail {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
}
.mail-icon {
  margin-right: 10px;
  fill: #757575;
}
.tel {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
}
.tel:focus .mail-icon,
.tel:hover .mail-icon,
.mail:focus .mail-icon,
.mail:hover .mail-icon {
  fill: var(--accent-color);
}
/*Герой*/
.hero {
  background: var(--secondary-text-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.text-hero {
  text-transform: uppercase;
  max-width: 650px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  color: var(--main-color);
}
/*button*/
.button-hero {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: var(--main-color);
  background: var(--accent-color);
}
.button-hero:hover,
.button-hero:focus {
  background: #188ce8;
}
.title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*Особенности*/
.title-info {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.paragraf-info {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
  background: #f5f4fa;
}
.info .list {
  display: flex;
}
.list-info {
  width: 270px;
  margin-right: 30px;
}
/*Чем занимаемся*/
.work {
  padding-bottom: 94px;
}
.work .list {
  display: flex;
  margin-top: 50px;
}
.img-box:not(:last-child) {
  margin-right: 30px;
}
/*Наша команда*/
.people {
  background: #f5f4fa;
}
.people .name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.people .list {
  display: flex;
}
.people-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.people-card {
  border: 1px solid;
  background: #fff;
  border-color: #eee;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.people-card:not(:last-child) {
  margin-right: 30px;
}
.links-people {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.people-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}
.links {
  fill: #afb1b8;
}
.people-info:hover .links,
.people-info:focus .links {
  fill: var(--main-color);
}
.people-info:hover,
.people-info:focus {
  background-color: var(--accent-color);
}

.people-list-item:not(:last-child) {
  margin-right: 10px;
}
.prof {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
/*КЛИЕНТЫ*/
.group-client {
  display: flex;
  background: #fff;
}
.client {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
}
.client:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: #afb1b8;
}
.group-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}
.group-info:focus .clients-icon,
.group-info:hover .clients-icon {
  fill: var(--accent-color);
}
.client:focus,
.client:hover {
  border-color: var(--accent-color);
}
/*footer*/
.footer .container {
  display: flex;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .studio {
  font-family: var(--secondary-font-famili);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
}
.address {
  width: 231px;
  height: 81px;
  margin-top: 20px;
}
.adres {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-color);
}
.footer-mail .adres {
  margin-bottom: 9px;
}
.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
}
.footer-addres {
  margin-right: 70px;
}
.footer-list {
  display: flex;
  margin-top: 20px;
}
.people-info-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #757575;
}
.links-footer {
  fill: #fff;
}
.footer-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.people-info-footer:focus,
.people-info-footer:hover {
  background-color: var(--accent-color);
}
/*ПОРТФОЛИО*/
.button-portfolio {
  font-family: inherit;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background: #f5f4fa;
  color: var(--secondary-text-color);
  border-radius: 4px;
}
.button-portfolio:focus,
.button-portfolio:hover {
  color: var(--main-color);
  background: var(--accent-color);
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}
.paragraf-portfolio {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin-top: 4px;
}
.section-portfolio .list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 54px;
}
.list {
  justify-content: center;
}
.list-portfolio {
  margin-right: 8px;
}
.img-portfolio {
  padding-bottom: 94px;
}
.img-portfolio .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.img-list {
  margin-left: 30px;
  margin-top: 30px;
}
.img-list:focus,
.img-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-portfolio {
  padding: 24px 20px;
  border: 1px solid;
  border-color: #eeeeee;
  border-top: none;
}
.header {
  border-bottom: 1px solid;
  border-color: #eeeeee;
}
